<div class="container">

    <section class="d-flex align-items-center justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 flex-column align-items-center justify-content-center">
            <div class="card mb-3">
              <div class="card-body">
                <legend class="text-center header">Editar usuario</legend>
                <form (ngSubmit)="guardar()" [formGroup]="form">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="nombre" id="input-nombre"
                    placeholder="Nombre" required />
                    <label for="input-nombre" class="form-label">Nombre</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="apellido" id="input-apellido"
                    placeholder="Apellido" required />
                    <label for="input-apellido" class="form-label">Apellido</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="email" id="input-apellido"
                    placeholder="Email"/>
                    <label for="input-username" class="form-label">Email</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="ci" class="form-control" formControlName="cedula" id="input-ci"
                    placeholder="name@example.com"/>
                    <label for="input-ci" class="form-label">Identificacion</label>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="volver()">
                      Volver
                    </button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                      Guardar
                    </button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>