<div class="text">
  <div class="container">
    <div class="banner">
      <img alt="Angular Logo" src="../../../assets/img/hotel.png" height="500px" width="500px">
    </div>
    <div class="content">
      <h1 class="title">Sistema de administración</h1>
      <h2 class="subtitle">Gestión de reservas</h2>
      <p class="paragraph">Hotel ABC, un oasis de lujo y comodidad que redefine la experiencia de
        alojamiento. Estratégicamente ubicado en el corazón de la ciudad, nuestro hotel fusiona la elegancia
        contemporánea con un servicio excepcional para ofrecerte una estancia inolvidable.


      </p>
      <p class="paragraph"> Nuestras habitaciones, diseñadas con un estilo moderno y toques clásicos, ofrecen un refugio
        tranquilo y acogedor después de un día explorando la ciudad. Equipadas con comodidades de primera clase, como
        ropa de cama de alta calidad y tecnología de vanguardia, cada habitación es un santuario de relajación.
      </p>
      <p class="paragraph"> Disfruta de la exquisita cocina en nuestro restaurante gourmet, donde chefs talentosos
        preparan platos que
        deleitarán tus sentidos. Además, nuestro bar elegante es el lugar perfecto para relajarte con una bebida después
        de un día ajetreado.</p>
    </div>
  </div>
</div>